:root {
  margin: 0;
}

.app-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .madplan {
    display: flex;
    flex-direction: column;
    width: 400px;

    .explainer {
      p {
        font-size: 12px;
      }
    }

    .recipe-select {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    .total-items-entry {
      display: flex;
      justify-content: space-between;
    }

    .recipe-details {
      p {
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 2px;
      }

      li {
        font-size: 16px;
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
  }
}
